
// style.scss

// Importer variabler
@import "variables";

// Navbar
.navbar {
    background-color: $navbar-background-color;

    .navbar-nav .nav-link {
        color: $navbar-text-color; 
        font-family: $navbar-font-family; // Bruke font fra variabel
        font-size: 18px;

        &:hover {
            color: $navbar-text-color; // Endre farge ved hover
            text-decoration: underline; // Legg til understrek ved hover (valgfritt)
        }

        &.active {
            font-weight: bold; // Gjør teksten tykkere for den aktive lenken
        }
    }
}


.navbar-brand {
    color: $navbar-text-color; // Sett farge for navbar-brand
    font-family: $navbar-font-family;
    font-size: 22px;
}

.navbar-nav .nav-link {
    font-family: $primary-font; // Bruke primær font
}

 /* Tilpasset CSS */

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

 .full-height {
    height: auto;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

// cta
.custom-login {
    background-color: $login-color;
    color: white;
}

.custom-register {
    background-color: transparent; /* Gjør knappen transparent */
    border: 2px solid black; /* Legg til en svart kant */
    color: black; /* Sett tekstfargen til svart */
}

// Footer
footer {
    background-color: $footer-background-color;
    color: $footer-text-color;

    a {
        color: $footer-text-color; // Farge for linker i footeren
    } 
}

//@media
@media (max-width: 1311px) {
    .display-4 {
        font-size: 2.5rem; /* Endrer skriftstørrelse for display-4 */
    }

    .lead {
        font-size: 1.22rem; /* Endrer skriftstørrelse for lead */
    }
}
