// _variables.scss
$navbar-background-color: #E0CDC6; // Bakgrunnsfarge for header
$footer-background-color: #E0CDC6;  // Bakgrunnsfarge for footer
$navbar-text-color: #AC5452;        // Tekstfarge for header
$footer-text-color: #AC5452;        // Tekstfarge for footer
$navbar-font-family: 'Playfair Display', serif; // Font for navbar
$primary-font: 'Montserrat', sans-serif;        // Primær font
$heading-font: 'Playfair Display', serif;      // Font for overskrifter kan tas vekk?
$heading-font-weight: 600;                     // Vekt for overskrifter kan tas vekk?
$login-color: #AC5452;
$like-icon-color: #AC5452; 
$comment-icon-color: #E0CDC6; 
$button-color: #AC5452; // Endre til ønsket fargekode for knappen
$button-hover-color: #E0CDC6;
